@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');


:root {
  --primary: #6366F1;
  --secondary: #8B5CF6;

  --bg: #F8FAFC;
  --card: #FFFFFF;

  --text-primary: #1965de;
  --text-secondary: #64748B;

  --border: #E2E8F0;
}

body {
  background: var(--bg);
  /* color: var(--text-primary); */
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
